/* Selector universal*/

*{
    padding: 0;
    margin: 0;
}

/*Selector de Etiquetas*/

body{

    background-color: #420e08;
    color: rgb(252, 251, 253);
    margin: 0px;
    padding: 0px;

}

/*Selector de clase*/

.texto{

    text-align: justify;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    padding: 10px 25px;
    color:#ffffff;



}

.img{

    width: 500px;
    padding: 25px;
    border-radius: 5px;
    justify-items: center;


}


/*Selector id*/

#contenedor{

    width: 900px;
    height: 1050;
    background-color: #6202a1;
    /*max-width: 1000 auto;*/
    border-radius: 0px;

}

#encabezado{


    width: 100%;
    height:14%;
    background-color: #061774 ;
    margin: 0;
    padding-top: 15px;
    /*border-radius: 15px;*/
    /*padding: 30 50px;*/


}
a{
    font-size: 18;

}

#menu{

    height: 5%;
    background-color: rgb(176, 168, 206);
    margin: 0%;
 
}

#contenido{

    height: 78%;
    width: 54%;
    background-color: #362f2f;
    margin: 0.5em;
    display: inline-block;
    border-radius: 8px;
    text-align: center;

}



#pie{

    height: 10%;
    background-color: rgb(0, 2, 3);
    margin: 1.5em;
    text-align: center;
    padding: 5px;

}

#pie h4{

    height: 15px;
    font-size: 30px;
    
}

/*Selector de etiquetas*/

ul{

    text-align: center;
    padding: 10px;

}

li{

    display: inline;
    padding: 15px 25px;
    margin: 0em;

}

li a:hover{
    
    color:  crimson;
    text-decoration: none;
    list-style: none;

}

#footer{
    background: #000;
    height: 10%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: white;
    
}